:root{
    --primery-color:#14BF98;
    --text-color:#ffff;
    --black-text:black;
    --services-bg:#FBFBFB;
    --call-me-bg:#153F52;
    --input-box-bg:#2A5D77;
    --Projects-btn:#D7D7D6;
    --Projects-btn-text:#D7D7D6;
    --Projects-btn-bg-hover:#13BF98;
    --header-bg-color:rgb(8, 67, 67);
    --background-color-textbox:#2A5D77;
    --footer-text-color:#dfe5ec;;
}
